h1 {
    color: #2B6CA2;
}

header > div > h2{
    color: #FFF;
}

header {
    background-color: #2B6CA2;
}

#bloqueMsj {
    display: none;
}

#bloqueMsj p{
    height: 10px;
    font-size: 12px;
    color: #a94442;
}

#bloqueMsj2 {
    display: none;
}

#bloqueMsj2 p{
    height: 10px;
    font-size: 12px;
    color: #a94442;
}


#errors {
    border-left: 5px solid #a94442;
    display: none;
    padding-left: 10px;
}

#errors p{
    font-size: 12px;
}

#errors2 {
    border-left: 5px solid #a94442;
    display: none;
    padding-left: 10px;
}

#errors2 p{
    font-size: 15px;
}

.carousel-inner {
    max-height: 400px !important;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}

.jumbotron {
    background: url('../images/road.jpg') no-repeat center center;
    width: 100%;
    height: 350px;
}

.div-form p{
    font-size: 12px;
}

.custom-jumbotron h1, .custom-jumbotron p{
    color: white;
    text-shadow: #444 0 1px 1px;
}

.navbar-default {
    background-color: #3588CC;
    border-color: #3588CC;
}

.navbar-default .navbar-nav > li > a {
    color: #BAE9FF;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #3588CC;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #3588CC;
}

.navbar-default .navbar-toggle {
    border-color: #3588CC;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #3588CC;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

div.textos{
     
        border: 2px solid #ddd;
        height: 70px;
}

div.box{
    border: 1px solid #ddd;
}

div.insidebox{
    left: 10px;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ffffff;
}

.navbar-default .navbar-link {
    color: #ffffff;
}

.navbar-default .navbar-link:hover {
    color: #ffffff;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffffff;
        background-color: #293054;
    }

       .input-group-addon {
    min-width:110px;
    text-align:left;
}
}